body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.status-message,
.player-info,
.tic-tac-toe .row {
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

.new-game .button,
.tic-tac-toe .button {
  height: 50px;
  width: 50px;
  line-height: 50px;
  background-color: rgba(0, 100, 255, 0.5);
  margin: 3px;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  top: 0px;
  vertical-align: middle;
}

.new-game.button {
  width: 100px;
}

.tic-tac-toe .button:hover {
  background-color: rgba(0, 150, 255, 0.5);
}

.tic-tac-toe .button:active {
  background-color: rgba(0, 50, 255, 0.5);
}

.player-info {
  border: black 2px solid;
  padding: 10px;
  width: 10%;
}